SECRET_KEY=your-django-secret-key-here
POSTGRES_HOST=db
POSTGRES_DB=postgres_db
POSTGRES_USER=simple_user
POSTGRES_PASSWORD=simple_password
POSTGRES_PORT=5432

GEMINI_API_KEY=your-gemini-api-key-here
LLM_THROTTLE_RATE=10/min